.conteiner{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 120px);
    grid-template-areas: "l l l m m m m m m m m m"
                         "h h h h h h h h h h h h"
                         "h h h h h h h h h h h h"
                         "h h h h h h h h h h h h"
                         "h h h h h h h h h h h h"
                         "c c c c c c2 c2 c2 i i i i"
                         "c c c c c c2 c2 c2 i i i i"
                         "c c c c c e e e e e e e"
                         "c c c c c e e e e e e e"
                         "f f f f f f f f f f f f";                  
}
.logo{
    
    grid-area: l;
    border: 1px solid yellow;
    background-color: lightyellow;
}
.menu{
    grid-area: m;
    border: 1px solid blue;
    background-color: lightblue;
}
.header{
    grid-area: h;
    border: 1px solid greenyellow;
    background-color: lightgreen;

}
.content{
    grid-area: c;
    border: 1px solid blueviolet;
    background-color: rgb(164, 132, 194);
}
.content2{
    grid-area: c2;
    border: 1px solid orange;
    background-color: lightgoldenrodyellow;
}
.img{
    grid-area: i;
    border: 1px solid coral;
    background-color: lightcoral;
}
.extra{
    grid-area: e;
    border: 1px solid blue;
    background-color: lightskyblue;
    color: white;
}
.footer{
    grid-area: f;
    border: 1px solid rgb(14, 116, 110);
    background-color: lightseagreen;
}
.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}