.conteiner{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,120px);
    grid-template-areas: "a a a a b b b b"
                         "a a a a b b b b"
                         "a a a a b b b b"
                         "a a a a c c c c"
                         "a a a a c c c c"
                         "a a a a c c c c";
}
.item1{
    grid-area: a;
    border: 1px solid yellow;
    background-color: lightsalmon;
}

.item2{
    grid-area: b;
    border: 1px solid blue;
    background-color: lightskyblue;
}

.item3{
    grid-area: c;
    border: 1px solid blueviolet;
    background-color: lightslategrey;
}

@media screen and (max-width: 1000px) {
    .item1 {
        grid-area: 1 / 1 / 3 / 9;
    }

    .item2 {
        grid-area: 3 / 3 / 5 / 7;
    }
    
    .item3 {
        grid-area: 5 / 1 / 7 / 9;
    }
}